.content {
    padding-top: 68px;
    min-height: 100%;
    color: #fff;
    position: relative;
    z-index: 4;
}

.movies-section {
    padding-top: 40px;
}

.movies-section h4 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.85);
}

.movies-item a {
    position: relative;
    display: block;
    background-color: #212121;
    font-size: 12px;
    overflow: hidden;
    color: #eee;
    min-height: inherit;
}

.movies-item a:hover,
.movies-item a:focus {
	opacity: 0.75;
}

.movies-item a .cover {
    position: relative;
}

.meta-movie {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
    padding: 10px 14px;
}

.meta-movie .genre {
    font-size: 11px;
    margin: 0 0 4px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.meta-movie .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin: 0 0 8px;
}

.meta-movie .description {
    letter-spacing: 0.01em;
    margin: 0 0 8px;
}
