header {
    background: #212121;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 68px;
    overflow: hidden;
    z-index: 9000;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.transparent {
    background: transparent;
}

.hide-header {
    transform: translateY(-100%);
}

.logo {
    font-weight: 600;
    color: #6ac045;
    font-size: 24px;
    line-height: 36px;
}

.navbar {
    padding: 0;
}

.navigation {
    flex: 1;
}

header a,
nav li {
    line-height: 36px;
}

nav a {
    color: rgb(136, 136, 136);
    font-size: 14px;
    text-transform: uppercase;
}

nav a.active,
nav a:active,
nav a:hover {
    color: rgb(255, 255, 255);
}

.header-search {
    position: relative;
    max-width: 360px;
}

.header-search svg {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 9px;
    margin: 0;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.header-search input {
    position: relative;
    height: 36px;
    border-radius: 0;
    padding: 6px 40px 6px 10px !important;
}

.with-movie-title {
    max-width: 320px;
    line-height: 36px;
}

.inline-fix {
    font-size: 0;
    line-height: 36px;
}

header .inline-fix {
    border-left: 1px solid #aaaaaa4d;
}

.inline-fix * {
    font-size: 14px;
}

.hamburger {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.hamburger span {
    position: absolute;
    left: 50%;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    transition: all 300ms ease-in-out;
}

.hamburger span:nth-of-type(1) {
    top: 5px;
    transform: translate(-50%, 0) rotate(0deg);
}

.hamburger span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.hamburger span:nth-of-type(3) {
    bottom: 5px;
    transform: translate(-50%, 0) rotate(0deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
}

.hamburger.active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active span:nth-of-type(3) {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

@media (max-width: 575px) {
    .navigation {
        display: none;
    }

    .navigation-menu {
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 1060;
        padding: 10px 0;
        background: gray;
        display: none;
        box-shadow: 0 12px 6px -6px gray;
        border: 1px solid #ebebeb;
        width: 180px;
        max-width: 180px;
        transition: all 0.2s ease-in-out;
    }

    .navigation-menu.shown {
        top: 55px;
        opacity: 1;
        visibility: visible;
    }

    .navigation-menu a {
        display: block;
        position: relative;
        text-transform: uppercase;
        padding: 10px 24px;
    }

    .navigation-menu:hover,
    .navigation-menu:focus {
        text-decoration: none;
        background: gray;
    }
}
