@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-duration: 0.5s;
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }
}

.fadeOutDown {
    animation-duration: 0.3s;
    animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }
}

.fadeOutUp {
    animation-duration: 0.3s;
    animation-name: fadeOutUp;
}

.animated {
    animation-fill-mode: both;
}

.card-video-splitter {
    position: relative;
}

.aspect-ratio {
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.aspect-ratio.shrink {
    transform: scale(0.85);
}

.aspect-ratio > div {
    z-index: 30;
}

.white-card {
    background: #fff;
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
    padding: 48px;
    position: absolute;
    max-width: 320px;
    z-index: 25;
}

.white-card::-webkit-scrollbar {
    width: 5px !important;
}

.white-card::-webkit-scrollbar-thumb {
    background: #adadad !important;
    border-radius: 5px !important;
}

aside.white-card {
    right: 0;
    bottom: 0;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.white-card {
    top: 0;
    left: 0;
}

.white-card h2 {
    font-size: 18px;
    line-height: 1.4;
}

.cast {
    overflow: hidden;
    text-indent: -9999px;
    max-width: 100%;
    border: 1px solid #6ac045;
}

.cast.mini-cast {
    max-width: 48px;
    max-height: 48px;
}

.genre-list span:not(:last-child):after {
    content: ", ";
}

.full-cast h4{
    cursor: pointer;
}

.full-cast h4 svg{
    transition: transform 0.3s ease-in-out;
}

.full-cast ul{
    height: 0;
    overflow:hidden;
    transition: all 0.3s ease-in-out;
}

.full-cast.showing h4 svg{
    transform: rotate(90deg);
}

.full-cast.showing ul{
    height: auto;
}

.item-detail-meta p span:not(:only-child){
    margin-right: 6px;
    margin-bottom: 6px;
}
