.movie-poster,
.movie-poster:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.movie-poster:after {
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(
        top,
        rgba(29, 29, 29, 0.65) 0,
        rgba(29, 29, 29, 1) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(29, 29, 29, 0.5)),
        color-stop(100%, rgba(29, 29, 29, 1))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(29, 29, 29, 0.65) 0,
        rgba(29, 29, 29, 1) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(29, 29, 29, 0.65) 0,
        rgba(29, 29, 29, 1) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(29, 29, 29, 0.65) 0,
        rgba(29, 29, 29, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(29, 29, 29, 0.65) 0,
        rgba(29, 29, 29, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#801d1d1d",
            endColorstr="#1d1d1d",
            GradientType=0
        );
}
