@import "~bootstrap/dist/css/bootstrap.min.css";

/* Generic Styles */
html {
  --space: 30px;
  --radius: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  display: inline-block;
  color: inherit;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

#reactive-movies-base {
  min-width: fit-content;
  min-height: 100%;
  font-size: 14px;
  font-weight: 300;
}

/* Themes */
.modal-open,
.wm-lite {
  --primary: #ecf0f6;
  --secondary: #11102c;
  --light: #cccccc;
  --layout: #f4f5f6;
}
.wm-girly {
  --primary: #ffe0d9;
  --secondary: #222222;
  --light: #cccccc;
  --layout: #ffe0d9;
}

/* Dark Mode for iOS/macOS */
/* @media (prefers-color-scheme: dark) {} */

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--layout);
  color: var(--secondary);
}

.wrapper > .container {
  min-height: 100%;
}

.flex-1-1-a {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

b,
strong,
.bold {
  font-weight: 700 !important;
}

.no-data {
  max-width: 360px;
  background: var(--primary);
  border: 1px solid var(--light);
  border-radius: 4px;
}

.no-data.block {
  max-width: 100%;
}

.no-data svg {
  margin-right: 10px;
  flex-shrink: 0;
}

.cover-fit {
  -o-object-fit: cover;
  object-fit: cover;
}

.c-hand {
  cursor: pointer;
}

.spinner-border {
  color: var(--secondary);
}

.sidebar {
  background: var(--primary);
  width: 25%;
}

.logo {
  position: absolute;
  top: 38px;
  right: -30px;
  font-size: var(--radius);
  font-weight: 700;
  writing-mode: vertical-lr;
}

.navigation {
  width: 240px;
  min-height: 100vh;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: var(--space);
  padding-left: 0;
  flex-shrink: 0;
}

.navigation li:not(.logo) a {
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.droplist a {
  border: 1px solid var(--light);
  background-color: var(--white);
  font-size: 11px;
  font-weight: 300;
  line-height: 0.8;
  border-radius: 10px;
}

main {
  max-width: 780px;
  padding: var(--space);
}

nav a,
nav a.active,
nav a:active,
nav a:hover {
  color: inherit;
}

.form-control {
  border: 1px solid var(--light);
  background: var(--primary);
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  background: var(--primary);
  border-color: var(--light);
  box-shadow: 0 1px 1px 1px var(--light);
}

.filter-list .btn {
  text-transform: capitalize;
  line-height: 1;
}

.search-bar .form-control {
  padding: 12px 60px 12px 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  height: auto;
  border-radius: 8px;
}

.search-bar .submit {
  top: 0;
  right: 0;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.rounded-card {
  padding: 8px;
  border-radius: 8px;
  background: var(--white);
  margin-bottom: var(--space);
}

.rounded-card:hover {
  box-shadow: 0 2px 20px var(--light);
}

.rounded-card .img-wrapper {
  background: var(--primary);
  width: 72px;
  height: 72px;
  border-radius: 8px;
  flex-shrink: 0;
  font-size: 0;
}

.yt-player {
  margin-bottom: var(--space);
}

.yt-player img {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.over-shadow {
  background: var(--primary);
  border-radius: var(--radius);
}

.over-shadow:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent 30%, var(--secondary));
  z-index: 2;
}

.yt-player .play-icon {
  background: rgba(0, 0, 0, 0.75);
  color: var(--white);
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 50%;
}

.yt-player .embed-responsive-item {
  z-index: 3;
}

section h2 {
  font-size: var(--radius);
  line-height: 1.4;
}

section h6 {
  font-size: 14px;
}

section p {
  line-height: 1.8;
}

.poster-shot {
  width: 144px;
  height: 144px;
  border-radius: var(--radius);
  margin-bottom: var(--space);
  box-shadow: 0 1px 1px 1px var(--light);
}

.meta {
  flex: 1;
  margin-left: var(--space);
}

.meta small {
  color: gray;
}

.pill {
  border-radius: var(--radius);
  font-size: 12px;
  background: var(--primary);
  border: 1px solid var(--light);
}

.genre-list span:not(:last-child)::after {
  content: attr(data-separator);
}

.imdb-status {
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  margin-bottom: var(--space);
}

.imdb-status img {
  max-width: 40px;
}

.item-detail-meta {
  border-left: 1px solid var(--light);
}

.recommendations {
  margin-top: var(--space);
}

.media-meta {
  min-width: 0;
  flex: 1;
}

.movies-item .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 52px;
}

.person-poster img {
  border-radius: var(--radius);
  box-shadow: 0 1px 1px 1px var(--light);
}

.media-tag {
  background: var(--secondary);
  line-height: 1;
  color: #fff;
  padding: 0 3px 2px;
}

.view-all-head a {
  font-size: 12px;
  color: var(--gray);
}

.gallery-preview {
  border-radius: var(--radius);
  height: inherit;
}
.expand-preview {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.gallery-preview:hover .expand-preview {
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  bottom: 0;
  color: var(--light);
  visibility: visible;
  opacity: 1;
}

/* Gallery Preview UI */
.gallery-modal {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
.gallery-modal .modal-dialog {
  max-width: 100%;
  margin: 0;
}
.gallery-modal .modal-content {
  border: 0;
}
.gallery-modal .carousel-item {
  height: 100vh;
}
.gallery-modal.show .portrait {
  width: auto;
  height: auto;
  max-height: 100vh;
  z-index: 14;
}
.gallery-backdrop,
.gallery-backdrop:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 13;
}
.gallery-backdrop img {
  position: relative;
  z-index: 12;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  transform: scale(1.1);
}
.gallery-backdrop:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}
.gallery-modal .close-icon,
.gallery-modal [class^="carousel-control"] {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--primary);
  opacity: 0.75;
  margin: 12px;
}
.gallery-modal .title {
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--light);
  margin: 12px;
  font-size: 20px;
  line-height: 1.8;
  border-radius: 20px;
  font-weight: 400;
}
.gallery-modal .close-icon:hover,
.gallery-modal [class^="carousel-control"]:hover {
  opacity: 1;
}
.gallery-modal [class^="carousel-control"] {
  z-index: 30;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-modal .close-icon {
  z-index: 15;
  right: 0;
}
/* Gallery Preview UI Ends */
